.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
env/
venv/
*.log
outputs/
runs/
wandb/
mlruns/
data/raw/
data/processed/
data/train/
data/infer/
data/train_subset/
data/train_subset_flat/
results/predictions/
models/*.pt
*.nii
*.nii.gz
data/
models/*.pth
*.zip
